############################################################
#  	Global properties
############################################################

# "handlers" specifies a comma separated list of log Handler 
# classes.  These handlers will be installed during VM startup.
# Note that these classes must be on the system classpath.
# By default we only configure a ConsoleHandler, which will only
# show messages at the INFO and above levels.
#handlers= java.util.logging.ConsoleHandler

# To also add the FileHandler, use the following line instead.
handlers = java.util.logging.FileHandler,\
		java.util.logging.ConsoleHandler,\
		com.l2journey.log.handler.ErrorLogHandler
chat.handlers = com.l2journey.log.handler.ChatLogHandler
chat.useParentHandlers = false
gmaudit.handlers = com.l2journey.log.handler.GMAuditLogHandler
gmaudit.useParentHandlers = false
item.handlers = com.l2journey.log.handler.ItemLogHandler
item.useParentHandlers = false
audit.handlers = com.l2journey.log.handler.AuditLogHandler
audit.useParentHandlers = false
enchant.handlers = com.l2journey.log.handler.EnchantItemLogHandler,\
		com.l2journey.log.handler.EnchantSkillLogHandler
enchant.useParentHandlers = false
olympiad.handlers = com.l2journey.log.handler.OlympiadLogHandler
olympiad.useParentHandlers = false
accounting.handlers = com.l2journey.log.handler.AccountingLogHandler
accounting.useParentHandlers = false

# Default global logging level.
# This specifies which kinds of events are logged across
# all loggers.  For any given facility this global level
# can be overriden by a facility specific level
# Note that the ConsoleHandler also has a separate level
# setting to limit messages printed to the console.
.level= CONFIG

############################################################
# Handler specific properties.
# Describes specific configuration info for Handlers.
############################################################

# default file output is in user's home directory.
java.util.logging.FileHandler.pattern = log/java%g.log
java.util.logging.FileHandler.formatter = com.l2journey.log.formatter.FileLogFormatter
java.util.logging.FileHandler.limit = 100000000
java.util.logging.FileHandler.count = 20
java.util.logging.FileHandler.level = CONFIG

# Limit the message that are printed on the console to INFO and above.
java.util.logging.ConsoleHandler.level = FINER
java.util.logging.ConsoleHandler.formatter = com.l2journey.log.formatter.ConsoleLogFormatter

# log errors (exceptions)
com.l2journey.log.handler.ErrorLogHandler.pattern = log/error%g.log
com.l2journey.log.handler.ErrorLogHandler.formatter = java.util.logging.SimpleFormatter
com.l2journey.log.handler.ErrorLogHandler.filter = com.l2journey.log.filter.ErrorFilter
com.l2journey.log.handler.ErrorLogHandler.limit = 100000000
com.l2journey.log.handler.ErrorLogHandler.count = 20
com.l2journey.log.handler.ErrorLogHandler.level = CONFIG

# log chats
com.l2journey.log.handler.ChatLogHandler.pattern = log/chat%g.log
com.l2journey.log.handler.ChatLogHandler.formatter = com.l2journey.log.formatter.ChatLogFormatter
com.l2journey.log.handler.ChatLogHandler.filter = com.l2journey.log.filter.ChatFilter
com.l2journey.log.handler.ChatLogHandler.limit = 100000000
com.l2journey.log.handler.ChatLogHandler.count = 20
com.l2journey.log.handler.ChatLogHandler.append = true
com.l2journey.log.handler.ChatLogHandler.level = INFO

# log GM Audit
com.l2journey.log.handler.GMAuditLogHandler.pattern = log/gmaudit%g.log
com.l2journey.log.handler.GMAuditLogHandler.formatter = com.l2journey.log.formatter.GMAuditFormatter
com.l2journey.log.handler.GMAuditLogHandler.filter = com.l2journey.log.filter.GMAuditFilter
com.l2journey.log.handler.GMAuditLogHandler.limit = 100000000
com.l2journey.log.handler.GMAuditLogHandler.count = 20
com.l2journey.log.handler.GMAuditLogHandler.append = true
com.l2journey.log.handler.GMAuditLogHandler.level = INFO

# log items
com.l2journey.log.handler.ItemLogHandler.pattern = log/item%g.log
com.l2journey.log.handler.ItemLogHandler.formatter = com.l2journey.log.formatter.ItemLogFormatter
com.l2journey.log.handler.ItemLogHandler.filter = com.l2journey.log.filter.ItemFilter
com.l2journey.log.handler.ItemLogHandler.limit = 100000000
com.l2journey.log.handler.ItemLogHandler.count = 20
com.l2journey.log.handler.ItemLogHandler.append = true
com.l2journey.log.handler.ItemLogHandler.level = INFO

# audit
com.l2journey.log.handler.AuditLogHandler.pattern = log/audit%g.log
com.l2journey.log.handler.AuditLogHandler.formatter = com.l2journey.log.formatter.AuditFormatter
com.l2journey.log.handler.AuditLogHandler.filter = com.l2journey.log.filter.AuditFilter
com.l2journey.log.handler.AuditLogHandler.limit = 100000000
com.l2journey.log.handler.AuditLogHandler.count = 20
com.l2journey.log.handler.AuditLogHandler.append = true
com.l2journey.log.handler.AuditLogHandler.level = INFO

# enchant item log
com.l2journey.log.handler.EnchantItemLogHandler.pattern = log/enchantitem%g.log
com.l2journey.log.handler.EnchantItemLogHandler.formatter = com.l2journey.log.formatter.EnchantFormatter
com.l2journey.log.handler.EnchantItemLogHandler.filter = com.l2journey.log.filter.EnchantItemFilter
com.l2journey.log.handler.EnchantItemLogHandler.limit = 100000000
com.l2journey.log.handler.EnchantItemLogHandler.count = 20
com.l2journey.log.handler.EnchantItemLogHandler.append = true
com.l2journey.log.handler.EnchantItemLogHandler.level = INFO

# enchant skill log
com.l2journey.log.handler.EnchantSkillLogHandler.pattern = log/enchantskill%g.log
com.l2journey.log.handler.EnchantSkillLogHandler.formatter = com.l2journey.log.formatter.EnchantFormatter
com.l2journey.log.handler.EnchantSkillLogHandler.filter = com.l2journey.log.filter.EnchantSkillFilter
com.l2journey.log.handler.EnchantSkillLogHandler.limit = 100000000
com.l2journey.log.handler.EnchantSkillLogHandler.count = 20
com.l2journey.log.handler.EnchantSkillLogHandler.append = true
com.l2journey.log.handler.EnchantSkillLogHandler.level = INFO

# olympiad log
com.l2journey.log.handler.OlympiadLogHandler.pattern = log/olympiad.csv
com.l2journey.log.handler.OlympiadLogHandler.formatter = com.l2journey.log.formatter.OlympiadFormatter
com.l2journey.log.handler.OlympiadLogHandler.append = true
com.l2journey.log.handler.OlympiadLogHandler.level = INFO

# accounting
com.l2journey.log.handler.AccountingLogHandler.pattern = log/accounting%g.log
com.l2journey.log.handler.AccountingLogHandler.formatter = com.l2journey.log.formatter.AccountingFormatter
com.l2journey.log.handler.AccountingLogHandler.limit = 100000000
com.l2journey.log.handler.AccountingLogHandler.count = 20
com.l2journey.log.handler.AccountingLogHandler.append = true
com.l2journey.log.handler.AccountingLogHandler.level = CONFIG

############################################################
# Facility specific properties.
# Provides extra control for each logger.
############################################################

# For example, set the com.xyz.foo logger to only log SEVERE
# messages:
com.l2journey.gameserver.level = CONFIG
com.l2journey.loginserver.level = CONFIG
com.l2journey.gameserver.network.serverpackets.level = FINER
com.l2journey.gameserver.network.clientpackets.level = FINER

# Alt Privileges Administration
AltPrivilegesAdmin.pattern = log/admin-commands%g.log
AltPrivilegesAdmin.formatter = com.l2journey.log.formatter.FileLogFormatter
AltPrivilegesAdmin.limit = 100000000
AltPrivilegesAdmin.count = 20
AltPrivilegesAdmin.append = true
AltPrivilegesAdmin.level = CONFIG
